{% load static %}
<!DOCTYPE html>
 <html> 
<head> 
<title>Python Club !!!</title> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> 
<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> 
<link rel="stylesheet" href="{% static 'css/main.css' %}">


</head> 
<body> 
<div class='jumbotron'> 

<h1>Python Club</h1>

 </div> 
   <nav class="navbar navbar-default"> 
   <div class="container-fluid">
  <div class="navbar-header"> 
  <a class="navbar-brand" href="{% url 'index' %}">Python Club</a> 
  </div> 
  <ul class="nav navbar-nav"> 
  <!-- her will be all manue options  -->
  <li><a href="{% url 'meeting' %}">meeting</a></li>

<li>Dummy</li> 

</ul> 
</div> 
</nav> 
<div class="container-fluid"> 
{% block content %} 

{% endblock content %} 
</div> 
</body> 
</html>